@using ClientApp.Services.Http.Models

<div class="top-row container" style="max-width: 100vw">
    <div class="row" style="width: 100%">
        <div class="col d-flex align-items-center">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="add-intern">
                        Добавление стажера
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects-courses">
                        Проекты и направления
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="interns">
                        Список стажеров
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code
{
    
}
